html, body{
    height: 100%;
}

body{
    margin: 0px;
    background: rgb(231, 231, 231);
}

#flex-container{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#formulaire{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background: white;
    width: 500px;
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: center;
    border-radius: 10px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;
}

#button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }